# Arquivos grandes que serão gerenciados pelo Git LFS
resources/textures/base_texture.png filter=lfs diff=lfs merge=lfs -text
resources/textures/floor.png filter=lfs diff=lfs merge=lfs -text
resources/textures/sand.png filter=lfs diff=lfs merge=lfs -text
resources/models/environment/hangar.glb filter=lfs diff=lfs merge=lfs -text

# Padrões para arquivos grandes no futuro
*.png filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
