# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Development Configuration
.vscode/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build Files
*.exe
mechaGame
*.o
*.obj

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# System Files
.DS_Store
Thumbs.db

# debug information files
*.dwo


# Raylib Examples
lib/raylib/examples/

